<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>vZvbemc9vJZQY1WkxgPOoC3as3dwsjaEJXm3hgPO3YH1frLN8J</string>
	<key>API Key</key>
	<string>WexsmeMBm1nB78utLQXz4njek</string>
</dict>
</plist>
